[2014-10-12 17:36] sagikazarmark opened #2 "Generic HTTP Adapter library"
Hi there,

Currently I am working on a generic HTTP Client adapter library utilizing the upcoming PSR for HTTP Messages. I am reaching out for libraries I know whether there is interest for it or not. It collects the best pratices from competitors, and also based on a generic implementation instead of based on needs.

It is unclear where it will be published, but when it gets ready I will be more

[2015-01-11 12:54] florianv commented on #2
I'm closing this issue as the version 2 relies on https://github.com/egeloen/ivory-http-adapter, which is also used by popular projects like https://github.com/geocoder-php/Geocoder.

[2015-01-11 12:54] #2 closed

[2015-01-11 12:54] sagikazarmark commented on #2
Great, I love that adapter

[2015-01-11 12:56] florianv commented on #2
:+1:

[2015-01-11 15:06] Ocramius opened #3 "Provide currency ISO codes as class constants"
As per http://www.reddit.com/r/PHP/comments/2s245t/swap_v2_exchange_rates_library_for_php/, this is a suggested improvement

[2015-01-11 15:14] Ocramius opened #4 "`$swap->quote('EUR/USD');` should probably accept two parameters rather than a concatenated string"

[2015-01-11 15:21] Ocramius opened #5 "`Swap\Builder` could just be static"
There is no actual need for making `Swap\Builder` an instantiable class:

 * `$currencyConverter = Swap\Builder::fromYahooFinance();`
 * `$currencyConverter = Swap\Builder::fromGoogleFinance();`

These are perfectly fine. If multiple providers are required, then just allow constructor injection in the converter itself, which also plays better with other libraries willing to integrate Swap.

[2015-01-11 15:59] bojanz commented on #3
I think this library should avoid hardcoding the currency list at all (therefore removing the list in https://github.com/florianv/swap/blob/99d58b2778f6b4ccf8af0a7cf4542439b8bd793e/src/Util/CurrencyCodeValidator.php and just validating the format of the passed currency code).
The list of currencies is best left to other libraries, like symfony/intl.

The currency list used by Symfony and various e

[2015-01-11 16:07] Ocramius commented on #3
@bojanz the main point is simply avoiding typos and providing quick autocompletion.

[2015-01-11 17:59] florianv commented on #4
It currently accepts a `CurrencyPair` instance too but it's not documented.

[code]

is equivalent to

[code]

[2015-01-11 18:57] florianv commented on #5
Thanks for the suggestion. It is also possible to specify a cache to use in the builder, for example:

[code]

Because of that, I don't think we can make it static because it would have to be stateful which makes it harder to use.

[2015-01-11 19:01] Ocramius commented on #5
I'd rather just make a compromise and make it a second argument or such.

[2015-01-11 19:10] florianv commented on #3
+1 for adding this enumeration of currency codes.

As @bojanz suggests, I'm going to remove the currency validator and let the provider fails if the currency is invalid. The currency validation is probably handled somewhere else before being passed to Swap.

[2015-01-11 20:17] florianv commented on #3
In this [commit](https://github.com/florianv/swap/commit/9bb122b4e3d20a43e631d2e6721c03b874c1d5ad), I added an enumeration of the currency codes including the historical ones. I also removed the currency validation.

[code]

I had to prefix them with `ISO` because of the currency named `TRY`.

[2015-01-11 20:21] Ocramius commented on #3
Wasn't really needed, but thanks for including an enumeration: really makes it much harder to write a typo in there ;-)

[2015-01-11 20:34] florianv commented on #3
@Ocramius thanks for the suggestion, it is indeed better with autocompletion :)

[2015-01-11 20:34] #3 closed

[2015-01-12 18:02] florianv commented on #5
I decided to remove the `Builder` in favor of manual construction. For simple cases, it is as hard as building `Swap` manually. If you want to pass a custom provider, you will need the `HttpAdapter` instance to create it, so the result won't be as simple as I initially thought. It is clearer and simpler to create the objects directly.

[2015-01-12 22:57] florianv commented on #4
I'm closing this issue as the other possibility has been documented.

[2015-01-12 22:57] #4 closed

[2015-01-12 23:04] florianv commented on #5
I'm closing this issue due to removal of the Builder. Thanks for your inputs @Ocramius

[2015-01-12 23:04] #5 closed

[2015-03-08 13:03] stelgenhof opened #7 "Historical Rates"
Hi,

Thank you for this great library! Would it be possible to retrieve historical rates? For example I would like to pull yesterday's or end of last year's exchange rate.

Thanks! Sacha

[2015-03-08 16:14] florianv commented on #7
Hello Sacha,

Thanks for your feedback.

It won't be possible to implement because many providers like Google Finance, Yahoo Finance and Webservicex don't support retrieving historical rates but only the latest ones. Amongst the ones supporting it, there is a difference between the minimum date so it's really specific to each provider.

I suggest you pick a provider supporting them and write your

[2015-03-16 01:55] stelgenhof commented on #7
Hello Florian,

Thank you for the feedback. I understand.

Cheers! Sacha

[2015-03-16 01:55] #7 closed

[2015-04-27 16:10] robjmills opened #8 "Error with Yahoo Provider"
Using sample code:

[code]

Throws this error:

[2015-04-27 16:12] robjmills opened #9 "Error with Google Finance Provider"
Using sample code adapted for Google finance:

[code]

Throws this error:

[2015-04-27 20:54] florianv commented on #8
Hi,

Thanks for reporting this issue. It was due to an issue in the http library we use (see https://github.com/egeloen/ivory-http-adapter/issues/106).

It's now fixed in Swap v2.0.1.

[2015-04-27 20:54] #8 closed

[2015-04-27 20:55] florianv commented on #9
Same issue than https://github.com/florianv/swap/issues/8.

[2015-04-27 20:55] #9 closed

[2015-04-28 08:04] robjmills commented on #8
Awesome - thanks, that's now working perfectly.

[2015-07-09 09:48] sagikazarmark commented on #2
Update: ivory HTTP Adapter is going to be PHP HTTP Adapter (https://github.com/php-http). Probably it worth to rely on it in the next major version.

Documentation: http://php-http.readthedocs.org/

[2015-07-09 09:51] sagikazarmark opened #11 "Local adapter"
In some of my applications we work with fixed conversion rates. A local adapter could find rates from a simple hashmap. PR?

[2015-07-09 09:53] sagikazarmark opened #12 "Suggestion for how to use with Money"
My Money representation of choice is https://github.com/mathiasverraes/money/. Do you have an idea how I could bring this library together with Swap?

I tried to find a way which uses swap's interfaces, but I couldn't find any without interface breaks.

[2015-07-09 10:05] sagikazarmark opened #13 "New provider"
There is an Appspot API (which IMO uses the Google finance API):

http://currency-api.appspot.com/

[2015-07-09 10:18] florianv commented on #11
Yes good idea!

[2015-07-09 10:20] florianv commented on #13
Thanks for the suggestion, it could be interesting to implement

[2015-07-09 10:25] florianv commented on #12
You would like to convert from one Money to an other using Swap, right ?

[2015-07-09 11:16] sagikazarmark commented on #12
Exactly. Or I would be happy, if I could get a Money CurrencyPair instead of a Rate object. I guess I will have to write a wrapper around swap.

[2015-07-09 12:46] florianv commented on #12
I think it would be interesting to have a money converter in Swap.

We could create our own `Money` Value Object and a `ConverterInterface` with a `convert(Money $money, $currency)` method that returns a converted `Money` using `SwapInterface`.

Then we could have a Decorator that decorates the  `convert()` method to convert from mathiasverraes's Money to Swap's Money and vice versa.

[2015-07-09 13:04] sagikazarmark commented on #12
Isn't that an interface breaking implementation?

[2015-07-09 21:35] florianv commented on #12
We could remove the typehints on the `convert()` method because we may support other money implementations.

Or we can have our own Money implementation and provide a factory that can create mathiasverraes's Money from Swap's Money and vice versa.

[2015-07-09 22:28] sagikazarmark commented on #12
I think a Money ValueObject is out of scope for Swap. I really like it's simple architecture and single purpose. (Actually I think that even the CurrencyPair is not necessary => `quote($fromCurrency, $toCurrency)`, done). The rate is a valid object IMHO, since it is the result and has additional data.

A Converter interface is a good idea, but in that case Swap must be encapsulated in the converte

[2015-07-10 00:04] florianv commented on #12
Yeah probably. But it would be nice to have a conversion feature because most people use the exchange rates value to convert from one money to an other in the end..

Yes the `ConverterInterface` will depend on `SwapInterface`.

Maybe the easiest solution is simply to create a library that does the bridge between `Money` and `Swap`.

[2015-07-10 00:31] sagikazarmark commented on #12
That's in my mind as well.

[2015-07-10 08:18] florianv commented on #12
I close this as it's not anymore related to this repo!

[2015-07-10 08:18] #12 closed

[2015-07-15 15:58] sagikazarmark commented on #2
@florianv Would you accept a PR which prepares the change from Ivory HTTP Adapter to PHP HTTP? Since it is going to be deprecated.

[2015-07-16 18:03] florianv commented on #12
Ping me when you created this library, I can add a link to it in the README.

[2015-07-16 18:07] florianv commented on #2
Yes, I don't see any problem if it's implemented in a BC way.

Currently the only method used is `get()` https://github.com/florianv/swap/blob/master/src/Provider/AbstractProvider.php#L40.

[2015-07-16 18:10] sagikazarmark commented on #12
Will do. In the meantime: what's the purpose of `SwapInterface`? I mean, I don't really think that Swap should be reimplemented. If it is needed to be in some way (like in case of the bridge package), it won't necessarily be compatible with the interface.

[2015-07-16 18:26] florianv commented on #12
`SwapInterface` is the contract that user code relies on. Swap is a specific implementation of `SwapInterface` with a provider system and a caching layer.

[2015-07-16 18:38] sagikazarmark commented on #12
I see what it is, but is it really needed. Are there any real life use case for other swap implementations?

[2015-07-16 18:58] florianv commented on #12
Yes it serves as documentation of the public API, makes mocking easier for testing etc..

[2015-07-23 18:54] #11 closed

[2015-07-27 16:24] florianv commented on #13
I'm closing this because I read on the website:

[2015-07-27 16:24] #13 closed

[2015-07-27 16:47] sagikazarmark commented on #13
Oh, missed that.

[2015-07-31 22:20] umpirsky opened #15 "[RFC] Consider using Money library"
Hi.

First of all, thanks for this great library.

I just wanted to suggest something, what do you think about using https://github.com/mathiasverraes/money?

It provides `CurrencyPair` for example.

[2015-07-31 22:49] florianv commented on #15
Hi,

thanks for your feedback.

We could rely on it but it should be extended, for example Swap provides the date at which the rate was calculated. This could be done but only in the next major version.

Maybe the easiest way is to create a wrapper around Swap that returns a `CurrencyPair` from the Money library instead of a `Rate` object. A `MoneyCurrencyPairProvider` or something like this.

I t

[2015-07-31 22:57] sagikazarmark commented on #15
Yeah, it is planned.

First I though it could be good if this library provided the Money integration out-of-the-box. But after some discussion with @florianv we agreed that Swap is quite generic this way, and it is good it is not tied to anything else. So my plan is to create a wrapper that accepts a Swap object and uses Money/CurrencyPair. This way everything is separated which is SOLID.

[2015-08-01 00:07] umpirsky commented on #15
Yes, I like that generic approach. Gives lots of flexibility.

Wrapper sounds right.

[2016-01-16 20:41] sagikazarmark opened #17 "Caching"
I think caching is a great idea in this library, but I think caching should be transparent from Swap point of view.

I would implement a Cache provider which decorates other providers. This provider could accept another provider instance and an implementation of PSR-6 (although doctrine does not implement these interfaces, there are already quite good compatibility libraries: https://github.com/ph

[2016-01-16 22:17] sagikazarmark opened #18 "Introducing HTTPlug"
Hey there,

Not sure you heard, but ivory http adapter is going to be deprecated in favor of [HTTPlug](http://httplug.io). There are many advantages in it over ivory. It is basically an HTTP abstraction layer (like ivory) and provides adapters (like ivory). A key difference is that it is an abstraction for CLIENTS, not adapters. So if one day a client decides to implement HTTPlug, the adapter can

[2016-01-16 22:19] sagikazarmark opened #19 "Drop Interface suffix"
I know it's a personal taste, but also a bullshit we learnt from Microsoft, Java, Symfony and the FIG, so I usualy try to convince people to drop it.

My main source is: http://verraes.net/2013/09/sensible-interfaces/

Although in your case it is probably harder, as you have an interface for the main entry point as well.

[2016-01-17 11:31] florianv commented on #18
Hey @sagikazarmark,

Yes I heard about it, it seems nice!

Yes, thank you, if it can be done in a BC way.

[2016-01-18 23:53] sagikazarmark commented on #18
Well, replacing one library with another is not something that can easily be done in a BC way. Also, with the other three improvement ideas (interfaces, PSR-6 caching, transparent caching decorator) it probably worths to change the major version.

WDYT?

[2016-01-21 23:07] florianv commented on #19
I agree it has some advantages to drop the interface suffix. I think it was also discussed in some Symfony projects as well.

We could name the interface `Quoter` or `Exchanger` so we can still keep `Swap` as class name for the main implementation.

[2016-01-21 23:10] florianv commented on #18
Once there is a stable release of `HTTPlug` we can indeed think about a new major version of Swap using it (including the features you suggested).

[2016-01-21 23:19] florianv commented on #17
I agree we should use PSR-6 and the implementation you propose seems correct.

As per PHP Cache, there seems to be a Doctrine Cache implementation (https://github.com/php-cache/doctrine-adapter) but they miss an Illuminate Cache used by Swap's Laravel package.

[2016-01-21 23:20] florianv opened #20 "Multiple rates at once"
https://github.com/florianv/laravel-swap/issues/2

[2016-01-21 23:25] florianv opened #21 "Historical rates"
Some providers support retrieving historical rates, we should allow to do that for the providers support it.

[2016-02-12 15:44] thom7kick opened #22 "Package I get this when i composer require? egeloen/http-adapter is abandoned, you should avoid using it. Use php-http/httplug instead."

[2016-02-12 16:08] florianv commented on #22
Hello, you should not worry about this message.

The next version of Swap will use `php-http/httplug`.

[2016-02-12 16:10] #22 closed

[2016-03-02 07:07] moiroca opened #23 "No definition found for Table yahoo.finance.xchange"
No definition found for Table yahoo.finance.xchange

[2016-03-02 08:46] diederikstuvia commented on #23
Same here, database down?

[2016-03-02 10:06] moiroca commented on #23
@diederikstuvia

I still have this issue but I temporarily fixed my issue by having a fallback using GoogleFinanceProvider instead of using YahooFinanceProvider. This might help you:

$chainProvider = new \Swap\Provider\ChainProvider([
    new \Swap\Provider\YahooFinanceProvider($httpAdapter),
    new \Swap\Provider\GoogleFinanceProvider($httpAdapter)
]);

Hope this issue will be fixed sooner!

[2016-03-02 10:31] florianv commented on #23
Looks like the database is down yes. I tried to select values directly from their console and it failed.
Let's wait some time and see if this is a temporary problem.

In the meantime, you can use the solution suggested by @moiroca :+1:

[2016-03-02 11:01] diederikstuvia commented on #23
Thanks guys! Works like a charm.

[2016-03-03 09:32] phofmann-trust commented on #18
I just noticed that there's a stable version of php-http/httplug now.

[2016-03-03 10:05] sagikazarmark commented on #15
Now that Money supports exchanging (and has builtin support for Swap), this one can probably be closed.

[2016-03-03 19:56] florianv commented on #23
The issue seems to be fixed in Yahoo's end

[2016-03-03 19:56] #23 closed

[2016-03-03 23:22] sagikazarmark commented on #20
If switching to HTTPlug, maybe BatchClient could help:

https://github.com/php-http/client-common/blob/master/src/BatchClient.php

[2016-03-03 23:24] sagikazarmark commented on #21
I'm not sure, this seems to me out of scope. What would be the use case?

Whenever you need this data, it should be logged/stored instead of being retrieved from the past.

Just my two cents.

[2016-03-06 16:04] Nyholm commented on #18
Thank you @phofmann-trust, Ive added a PR now.

[2016-03-06 18:38] umpirsky commented on #15
Yep.

[2016-03-06 18:38] #15 closed

[2016-03-07 15:58] ahubers opened #27 "PHP warning on GoogleFinanceProvider"
Finding this error in our logs:

[code]

I'll take a look and submit a pull request if I can find the issue, must be some parsing discrepancy.

[2016-03-07 16:02] ahubers commented on #27
Hmm, actually I see an attempt to supress this via
[code]

at https://github.com/florianv/swap/blob/master/src/Provider/GoogleFinanceProvider.php#L36

[2016-03-07 21:50] florianv commented on #27
Thanks for the PR. Can you add a test please ?

[2016-03-07 22:08] ahubers commented on #27
Sure, will do.

[2016-03-09 20:30] ahubers commented on #27
Added a test, however it assumes that there are no php errors within the PHPUnit setUp() process...

[2016-03-09 23:46] #27 closed

[2016-03-09 23:47] florianv commented on #27
Fixed in version 2.3.1. Thanks for your contribution

[2016-03-25 04:07] assaqqaf opened #31 "When base and quote currency are equal it throw exception"
In google provider, when the base and quote currency are equal (EUR/EUR)., it throw ChainProviderException. because google converter didn't handle this case it return _Could not convert_.

it suppose to return 1 in this case.

http://www.google.com/finance/converter?a=1&from=EUR&to=EUR

it's only work with USD/USD:

http://www.google.com/finance/converter?a=1&from=USD&to=USD

[2016-03-28 15:47] florianv commented on #31
Fixed in https://github.com/florianv/swap/pull/33

[2016-03-28 15:47] #31 closed

[2016-04-06 06:11] marek-stopka commented on #21
@sagikazarmark and when you need to get the historic data to store them in a database, you suggest to create a separate library for it? I believe this library should do anything and everything that comes with exchange rates.

We have implemented a ČNB (Czech National Bank) interface (https://github.com/kramapet/swap/commit/fb18a0465655de33f63d716d8c18fdcc55871fc7) and we are planning to implement

[2016-04-06 07:42] sagikazarmark commented on #21
Either a specific library or builtin in your application.

Definitely not, but I don't think you meant literally everything, did you? :smile:

My problem with historical rates is that I think one cannot trust them. It is coming from the outside. If you don't work with rates regularly, it is acceptable to retrieve previous ones. But I guess it is not the case if you actually use this library.

My p

[2016-04-20 16:45] florianv commented on #21
This feature was also suggested here https://github.com/florianv/laravel-swap/issues/13

[2016-04-20 17:12] marek-stopka commented on #21
@kramapet will most probably implement this, both Generic API and history rates retrieval logic for CNB provider as we have it as a business requirement for our software.

[2016-04-20 17:39] florianv commented on #21
Nice @marek-stopka @kramapet 👯 .

Some suggestions:

I think receiving an optional `\DateTime` object to specify the rate date should be ok.

Maybe a second parameter to exclude the time is needed. For example, I can ask the rate on `2014-05-05 00:00:00` but I don't care about the exact time, I'm just interested to get the rate that day.

If the provider does not support retrieving historical rate

[2016-04-21 19:03] marek-stopka commented on #21
@florianv can you please assign @kramapet to this issue? I would say we should implement like this:

For `$rate->getValue('YYYY-MM-DD'); ` we either return a daily rate for that day if it is a daily constant rate or throw an error for daily moving rates and require exact time specification. What do you think?

[2016-04-21 23:54] florianv commented on #21
No, the rate is a value object. We need to accept a specific date in the `quote()` method instead. To avoid breaking BC we can accept a `QuotationRequest` object which would contain the currency pair and a date at which the rate must have be issued.

I think we need to even accept a minimum and maximum date for the historical rate. If the rate has been issued in this interval, then it's accepted;

[2016-06-02 11:53] shlima opened #35 "Add BankExchange Provider"
Could you also please add [BankExchange](http://bank.exchange) provider (more powerful free alternative of OXR, any base currency <-> any quoted currency)

[2016-06-10 14:47] phofmann-trust commented on #35
I think a PR is always welcome @shlima.

[2016-08-21 19:06] florianv commented on #35
Their site seems down so I'm going to close this issue. Looks like this service is not really reliable

[2016-08-21 19:06] #35 closed

[2016-08-22 11:48] florianv opened #47 "Update documentation about Httplug usage"

[2016-08-22 11:49] #18 closed

[2016-08-22 22:16] #17 closed

[2016-08-22 22:16] #47 closed

[2016-08-23 02:31] florianv opened #51 "Ability to define cache ttl per currency pair"

[2016-08-23 07:42] Nyholm opened #56 "InvalidCurrencyCodeException is never used"
It should be used or removed.

[2016-08-23 07:53] Nyholm opened #58 "Add change log"
We should add a change log that describes how one should migrate from 2.x to 3.0

[2016-08-23 12:03] florianv opened #60 "Optimize number of requests"
Some providers allow to retrieve a whole list of rates (eg ECB).

We should use a runtime cache to avoid querying the service multiple times

[2016-08-23 15:53] florianv opened #63 "Integration tests"

[2016-08-24 22:39] #56 closed

[2016-08-24 23:10] #60 closed

[2016-08-25 01:55] florianv commented on #20
I'm closing this for now as I don't tkink it's so useful. People can call the quote() method multiple times.

[2016-08-25 01:55] #20 closed

[2016-09-02 10:38] actuallymab opened #65 "remove http-adapter package"
Package egeloen/http-adapter is abandoned, you should avoid using it. Use php-http/httplug instead.

[2016-09-02 10:39] actuallymab commented on #65
Just read that request is in new milestone. Sorry for interrupt.

[2016-09-02 10:39] #65 closed

[2016-09-08 17:35] #63 closed

[2016-09-08 17:36] florianv commented on #21
I finally had the time to implement them in https://github.com/florianv/swap/pull/66. @sagikazarmark @avataru Feel free to check it

[2016-09-09 22:05] #51 closed

[2016-09-09 22:05] #21 closed

[2016-09-09 22:05] #19 closed

[2016-09-10 10:54] #58 closed

[2016-11-23 08:12] HLFH opened #77 "CurrencyCloud"
Hi,

Could you support [CurrencyCloud](https://developer.currencycloud.com/documentation/api-docs/rates/get-rates-detailed/)?

Thanks,

[2016-11-23 08:18] florianv commented on #77
Hello,

sure we are interested to support this service.

The repository containing all services is this one https://github.com/florianv/exchanger.

I don't think I will have enough time to implement it myself in the next days, but you could send a pull request.

The service creation is documented here https://github.com/florianv/exchanger/tree/master/doc#creating-a-service

Thanks!

[2016-12-09 08:27] #77 closed

[2016-12-09 08:27] florianv commented on #77
Moved this to https://github.com/florianv/exchanger/issues/10

[2017-01-29 07:58] peter279k opened #81 "Support different currency"
Is it possible to support different country currency?
For example, convert the USD dollars to TWD.

Thanks.

[2017-01-29 08:05] florianv commented on #81
Yes, you can do `$rate = $swap->latest('USD/TWD')` for example.
The service you choose to build Swap needs to support these currencies but it's possible with `yahoo` or some commercial ones

[2017-01-29 11:34] peter279k commented on #81
Hi @florianv, thank you for your comment.
I plan to develop the price game calculator so I need to the currency conversion services.
And the packages support many currency conversion services.
I notice that the ```Fixer``` service seems to support many currencies conversion.
Also your sample code in ```README``` uses the Fixer services to complete the currency conversion.

What do you think about

[2017-01-29 11:46] florianv commented on #81
Hey @peter279k,

as far as I know `Fixer` is one of the best free services we have. There is also `Yahoo` which provides a lot of currencies. You can use them in a chain as shown in the documentation https://github.com/florianv/swap/blob/master/doc/readme.md#configuration

[2017-02-01 15:01] stefandoorn opened #82 "PHP Array support historical exchange rates"
I'm currently working on a project where e.g. I need to convert COP -> EUR at historical rates. It seems that there is no provider out of the box capable of doing this. The PHP Array solution could serve as a backup if e.g. the project has them already in a database somewhere, providing an array looking like:

[code]

The `backup` key could serve as a backup which is configurable, whether to use i

[2017-02-06 18:55] ruudk opened #83 "Return 1 as exchange rate when currencies are identical"
When I ask `Swap::latest('EUR/EUR')` for the latest exchange rate, it appears that it's actually contacting all the providers:

[code]

This doesn't seem right to me.

I looked at the code (both Swap and Exchanger) to see if I could create a PR to address this. I found out that in https://github.com/florianv/exchanger/blob/master/src/Exchanger.php#L46 it is smart enough to return `new ExchangeRate

[2017-02-22 12:42] #81 closed

[2017-02-22 12:58] florianv commented on #83
Hey, Swap is not contacting any provider for identical currency pairs as you can see in this example:

[code]

[2017-02-22 13:04] florianv commented on #82
Hey, if we add support to historical rates in the [PhpArray](https://github.com/florianv/exchanger/blob/master/src/Service/PhpArray.php#L25) service, I think it would solve your problem.

You could inject your backup rates, and declare the array provider at the end when building Swap

[code]

[2017-02-22 13:09] florianv commented on #83
@ruudk Maybe you are using an older version of `Exchanger` before the identical currency case was supported ?

[2017-03-12 15:24] #83 closed

[2017-03-14 08:21] b1rdex opened #84 "Release new version"
With Russian Central Bank included

[2017-03-20 18:31] andycansdale opened #85 "Low value currencies should have their rates calculated inversely"
More of a suggestion rather than an issue...

When using a low value currency as the base currency, the rate returned from Yahoo and other providers is given to four decimal points and rounded. This can give some very big errors in the conversion.

It would be interesting to have some kind of table where if isLowValueBase == true, then the base and quote rates are swapped and the inverse of the re

[2017-03-21 11:56] PhoneixS opened #86 "NetworkException: cURL error 6: Could not resolve host: www.google.com"
I'm trying to get a simple exchange rate but it fails with a cURL exception.

I have debugged it and copy the URL that is trying to connect to and I can access with the browser without problem. Also, I can ping to the servers query.yahoo.com, www.google.com.

I'm using:
 - florianv/swap 3.0.2
 - php-http/message 1.5.0
 - php-http/guzzle6-adapter 1.1.1

The code is:

[code]

And the error is:

[cod

[2017-03-21 16:15] PhoneixS commented on #86
It appears to be fixed by itself.

I don't know the cause but without changes in code or connections, it now run without problem.

[2017-03-21 16:15] #86 closed

[2017-03-23 02:56] assaqqaf commented on #86
I think this happen because of `March 2017 Ubuntu DNS resolution issues`.

For more details: https://www.digitalocean.com/community/questions/how-to-fix-the-march-2017-ubuntu-dns-resolution-issues

[2017-03-27 05:30] florianv commented on #84
Done, version `3.1.0`

[2017-03-27 05:30] #84 closed

[2017-06-02 13:10] florianv commented on #85
Hey @andycansdale,

I don't feel we need to add this feature to Swap as it's just a layer to fetch conversion rates from various providers.

[2017-06-02 13:10] #85 closed

[2017-06-02 13:12] florianv opened #88 "Support historical rates in the array service"
Currently only latest rates are supported

[2017-06-02 13:12] florianv commented on #82
Closing this issue in favor of https://github.com/florianv/swap/issues/88

[2017-06-02 13:12] #82 closed

[2017-06-03 08:25] #88 closed

[2017-08-27 15:54] bool1993 opened #90 "error"
Fatal error: Uncaught exception 'Exchanger\Exception\ChainException' with message 'The chain resulted in 2 exception(s): Http\Client\Exception\RequestException: cURL error 60: SSL certificate problem: unable to get local issuer certificate (see http://curl.haxx.se/libcurl/c/libcurl-errors.html) Http\Client\Exception\RequestException: cURL error 60: SSL certificate problem: unable to get local issu

[2017-08-30 11:45] Ellrion commented on #90
Use this certificate root certificate bundle:

https://curl.haxx.se/ca/cacert.pem

Copy this certificate bundle on your disk. And use this on php.ini

curl.cainfo = "path_to_cert\cacert.pem"

[2017-09-10 06:47] #90 closed

[2017-11-09 14:25] valetzyzy opened #93 "Yahoo Finance request"
Hi,
I have:
[code]

If I run it I got an Exeption:
[code]
I started debug it and when you created Yahoo [link](https://query.yahooapis.com/v1/public/yql?q=select+%2A+from+yahoo.finance.xchange+where+pair+in+%28%22GBPUSD%22%29&env=store://datatables.org/alltableswithkeys&format=json) it returns
[code]

`results: null`.
Please fix Yahoo query.

Thanks
Regards.

[2017-11-10 08:41] #93 closed

[2017-11-10 08:42] valetzyzy commented on #93
I had old version of library. Sorry

[2017-12-30 11:07] ddinchev opened #98 "Allow for PSR-16 caching mechanism"
Relying on PSR interfaces is great, however, PSR-6 was a bit controversial. It's a more involved interface and many popular frameworks have refused to implement it - so PSR-16 was introduced to allow for simplified caching systems.

Allowing for PSR-16 compatible cache systems would ease the integration of Swap with systems that rely on such systems. I'd introduce this by allowing `setHttpCachePoo

[2018-02-18 05:48] sagikazarmark opened #99 "Upgrade exchanger constraint"
Stable release of exchanger currently cannot be installed alongside with this package.

[2018-02-19 11:37] florianv commented on #99
Swap `3.3.0` now uses the stable version of Exchanger. Thanks!

[2018-02-19 11:37] #99 closed

[2018-02-19 11:38] florianv commented on #98
Hey @ddinchev, sure we will be interested in this!
Feel free to start working on it and send a PR.
Thanks

[2018-02-19 11:38] sagikazarmark commented on #99
Thanks!

[2018-03-15 17:19] salvatorecapolupo opened #101 "Are cryptocurrencies supported by this library?"
Hello,

I was wondering if criptocurrencies (DASH, ETH, VTC,  XBC, XBT,BTC,XLM,XMR,XRP,ZEC as defined by standard ISO 4217) was supported, i.e:

$example = ( new Builder() )->add('fixer')->build();
$rate = $example->latest( 'BTC/EUR');

Actually it seems not working (btw they are actually showed in Yahoo Finance). Where could I find list of currencies OK with Swap?

[2018-03-16 10:01] florianv commented on #101
@salvatorecapolupo You can use Cryptonator

`$example = ( new Builder() )->add('cryptonator')->build();`

[2018-03-16 11:15] salvatorecapolupo commented on #101
Btw, using:

[code]

you can support traditional and crypto together. Thanks very much!

[2018-03-19 17:43] icaroscherma opened #102 "Google plugin stopped working"
Error has already been quoted in #8 and #9 .
But I ran `composer update` and some laravel packages have been updated, but error is still happening :cry:
[code]

My code:
[code]

PS.: it WAS working until a few days ago, then only EUR started to give a headache after update I tried the `composer update` now in Tinker none works :sob:

Btw, `composer update` (of SWAP part)
[code]

[2018-03-20 14:44] FantomX1 opened #103 "When google plugin throws exception most probably due to not finding a specific rate, it wont restore previous libxml_disable_entity_loader mode"
When google plugin throws exception, most probably due to not finding a specific rate, it won't restore previous libxml_disable_entity_loader mode, effectively disabling any further Soap operations, the
`libxml_disable_entity_loader($disableEntities)`; restore operation is executed just after

[2018-03-21 10:08] florianv commented on #102
@icaroscherma You can also update Exchange, it should be fixed now.

`composer update florianv/exchanger`

[2018-03-21 10:08] #102 closed

[2018-03-21 10:20] florianv commented on #103
Thanks for reporting this @FantomX1.

It is fixed in the latest version of Exchange. `composer update florianv/exchanger`

[2018-03-21 10:20] #103 closed

[2018-03-21 10:21] florianv commented on #101
Closing this ;)

[2018-03-21 10:21] #101 closed

[2018-03-21 11:25] FantomX1 commented on #103
Thanks very much, maybe I haven't updated it for a longer period.

[2018-04-09 14:14] salvatorecapolupo commented on #101
I contacted original API developers fixer.io, and they say you maybe using legacy API of fixer, which does not support BTC.  Hope this could help improving next versions.

[2018-04-09 18:23] carbonvader opened #104 "getDate() format in hour"
Hi all,

Can not $rate->getDate() be formatted to Y-m-d H:i? I needed the hour as well and tried
`$rate->getDate()->format('Y-m-d H:i')` However it just returns 00:00.

Here is the dump of $rate->getDate()
[code]

Thanks for your effort on this package @florianv.

[2018-04-17 06:46] florianv commented on #104
@carbonvader Hey! If you cannot retrieve the time, it's because it's probably not supported by the service you use (daily updates)

[2018-04-17 06:46] #104 closed

[2018-04-18 01:28] Yamakasi opened #106 "MySQL support for Array Service Usage"
Hello,

Is there a way to query a database using the Array Service ?

Any thoughts are welcome.

Thanks!

Matt

[2018-04-19 09:44] mukeshj17m opened #107 "The "access_key" option must be provided to use fixer.io in project-files/vendor/florianv/exchanger/src/Service/Fixer.php:51"
As the fixer.io has changed it API and access_key is required. I am usign Laravel framework. I used "florianv/laravel-swap": "^1.1", and i updated the library today and now i can see one new constant ACCESS_KEY_OPTION = 'access_key' in florianv/exchanger/src/Service/Fixer.php ;
 It has these constants now:
const ACCESS_KEY_OPTION = 'access_key';
const LATEST_URL = 'http://data.fixer.io/api/latest?

[2018-04-19 14:38] florianv commented on #107
You ca now update Swap `composer update florianv/swap` and use the configuration provided in the documentation for Fixer's access key!

[2018-04-19 14:38] #107 closed

[2018-04-19 14:39] florianv commented on #106
Hey @Yamakasi, the array service is a service fetching values from a fixed PHP Array.

If you want to fetch rates from a database, you would have to create a new service for this using the sql driver / orm / library you use!

[2018-04-19 14:39] #106 closed

[2018-04-23 16:03] eduarguzher opened #108 "Question - Can I use a service that is consumed through a POST request?"
It uses a body authentication that i cannot change, I would like to build the request using the same Service implementation this package suggests

[2018-05-01 09:13] florianv commented on #108
@eduarguzher Yes, you can. If you extend the base service classes, you can access the HTTP client and send the request you want!

[2018-05-02 14:38] mukeshj17m commented on #107
I got this error when I was using a free plan and using the base price as
USD but only EURO could be used as base price for free account. For others
currencies as base price we have to pay for the plan. The error is not
giving a proper information, that's why it is tricky to figure out what is
the issue.

On 02-May-2018 7:56 PM, "maben" <notifications@github.com> wrote:

[2018-05-03 08:23] violuke opened #110 "Determine which service returned a rate"
Hi,

We're finding swap really useful, thanks. If we have a few services which can be used by swap, is there a way to know which service actually returned the rate in any particular instance?

Thanks for your help.

[2018-05-03 08:25] florianv commented on #110
Hey @violuke,

thanks for your feedback!

Right now it's not possible, but it shouldn't be that hard to implement. What are you interested in the service name / class ?

[2018-05-03 09:39] violuke commented on #110
Hey, thanks for the quick reply.

We're implementing a multi currency e-commerce application and will be storing daily rate snapshots. For historical and reporting purposes we'd like to know where rates actually came from. Some rates will have a legal obligation to come from the European Central Bank for tax reporting (but depending on the currencies involved in the sale, some will not).

So to an

[2018-05-03 16:11] #108 closed

[2018-06-04 16:07] Thinkpad12 opened #112 "Logo proposal"
Greetings, Im the Co-Founder of ThinkPad, we are an independent graphic design company, actually we are in constantly upgrowth looking for new challenges, this one particularly call a lot my attention and i`ll will like to help you with, me and my professional partners would be more than pleased to collaborate with your project.

With nothing more to add, we`ll be waitng for your answer, have a ni

[2018-06-23 23:44] pretty opened #113 "Doesn't work with PHP 5.6"
Due to the dependency of Nyholm\Psr7 it does not work on anything below PHP 7.1

Need to find an alternative unfortunately due to this

[2018-07-24 14:44] florianv commented on #113
@pretty Can you try the version 2 maybe which doesn't have the dependency ?

Otherwise, I don't think we can do anything about that dependency :(

[2018-07-24 14:45] florianv commented on #110
Closing this in favor of the related Exchanger issue.

[2018-07-24 14:45] #110 closed

[2018-10-11 09:35] fmasa opened #115 "National Bank of Poland - PR offer"
Hello,
I just implemented National Bank of Poland Service in my application using Swap. Would you be interested of me porting it to this package?

[2018-10-11 12:21] florianv commented on #115
@fmasa Sure!

[2018-10-17 07:08] #115 closed

[2018-10-17 07:11] #113 closed

[2018-11-22 10:10] sylouuu opened #116 "Can't install swap"
Hi @florianv

[code]

We are unable to install your package, as a follow of https://github.com/florianv/laravel-swap/issues/60

[code]

Do you any workaround to allow us to use your package? :)

Best

[2018-11-22 10:11] florianv commented on #116
Hey @sylouuu, can you try this install command instead ?

[code]

[2018-12-29 11:41] florianv commented on #98
Closing this, since it has been added to the Exchanger repo instead.

[2018-12-29 11:41] #98 closed

[2019-01-12 03:49] florianv opened #119 "Supporting PSR-17 and PSR-18"
This Exchanger PR https://github.com/florianv/exchanger/pull/71 added support for both PSR-17 and PSR-18.

We need to allow both in Swap as well:

- https://github.com/florianv/swap/blob/master/src/Builder.php#L18-L19
- https://github.com/florianv/swap/blob/master/src/Service/Factory.php#L56-L57

[2019-02-11 09:04] #119 closed

[2019-03-27 09:09] willemstuursma opened #123 "Final Swap cannot be mocked"
Good day! We're in the process of implementing Swap. Thus far it's been great, but when writing the tests we want to mock out Swap (of course we don't want to get currency conversion rates from the internet during tests).

Unfortunately Swap cannot be mocked because the class is declared `final`.

We're now mocking `ExchangeRateProvider` which works but it relies on Swap internals to keep working

[2019-03-27 09:25] florianv commented on #123
Hey @willemstuursma

Thanks for your feedback and report!

I think we can make the class public or we could also provide a `MockService` to use in tests

[2019-03-27 09:51] willemstuursma commented on #123
Making `\Swap\Swap` non-`final` would be great and would allow easy mocking by anyone who uses is.

[2019-05-17 14:35] chateaux opened #125 "Crypto currency converter"
I am wondering if there is an out of the box exchanger for crypto?

If not, I do have rates from a number of vendors which are stored in a database. What would be the best way to include this in the class?

thank you.

[2019-05-30 10:47] florianv commented on #125
@chateaux Hey, do have a `Cryptonator` service that retrieves rates from https://www.cryptonator.com.
If you want to use rates coming from your database, you can create a custom service class https://github.com/florianv/exchanger/tree/master/doc#creating-a-service

[2019-05-30 10:48] #125 closed

[2019-05-30 10:49] florianv commented on #123
@willemstuursma Done and released!

[2019-05-30 10:49] #123 closed

[2019-05-30 10:53] chateaux commented on #125
Thank you for this.

I did create a CryptoNator account. It was not obvious how to use it though.

I will take a look at the "creating a service" class to see what I can do with that.

thank you for your time on this.

[2019-07-22 09:29] PhoneixS opened #126 "Update the quick start on the main page"
In the web page, the commands for a quick start are:

`$ composer require florianv/swap php-http/message php-http/guzzle6-adapter`

But in the GitHub is:

`$ composer require php-http/curl-client nyholm/psr7 php-http/message florianv/swap`

which has the dependency `nyholm/psr7`.

I think the main web page should be updated.

[2019-09-19 09:39] KieronWiltshire opened #127 "Is it possible to implement a custom service?"
We have our own internal service for retrieving exchange rates, we would really like to create a custom service to access this and use this as a wrapper. Is that possible? If so, how do we go about achieving that?

[2019-09-19 12:09] florianv commented on #127
@KieronWiltshire Yes, here is the doc to implement a custom service: https://github.com/florianv/swap/blob/master/doc/readme.md#creating-a-service

[2019-09-19 12:09] #127 closed

[2019-11-25 17:30] TheAngelM97 opened #129 "Exception when trying to convert to EUR with Google"
Everything was working well few days ago, but suddenly I when I try to format to EUR currency it throws an exception "the currency is not supported or google changed the response format".  Yes, I am using the google service, I searched and it seems this has happened before, why, is there any way I can fix it or will I have to wait for you t fix it or do I need to switch to fixer ?
PS: I tried comp

[2019-12-09 06:08] bigear001 opened #130 "低价出售二线商用交易所wx: sxonem"
低价出售二线商用交易所wx: sxonem

[2020-01-21 13:36] florianv commented on #126
@PhoneixS Done, thanks!

[2020-01-21 13:36] #126 closed

[2020-01-21 13:37] florianv commented on #129
@TheAngelM97 Unfortunately, we don't support the Google provider anymore, since the site has been unreliable and hard to maintain. Use Fixer ;)

[2020-01-21 13:37] #129 closed

[2020-11-26 11:17] peterdevpl opened #135 "PHP 8 and PHPUnit 9 compatibility"

[2020-12-28 10:14] #135 closed

[2021-04-01 16:45] srishaharidas opened #137 "[BUG] Exchange Rates API no longer working"
Using the "exchange_rates_api" service no longer seems to be working.  This code now throws an error and complains about a missing access key:

[code]
Looking at the latest documentation for Exchange Rates (https://exchangeratesapi.io/documentation/), they seem to now require an access key.

After obtaining an access key from https://exchangeratesapi.io/ tried fetching the conversion rate after in

[2021-04-02 16:19] florianv commented on #137
Thanks @srishaharidas. I merged your PR in Exchanger, so it should be good to go!

[2021-04-02 16:19] #137 closed

[2021-04-02 16:55] srishaharidas commented on #137
Awesome thanks for the update @florianv!

[2022-03-15 11:03] shawn-mollie opened #138 "Are batch requests a possibility?"
Hi there, Is it a possibility now or in the future to query for multiple exchange rates in a single query to reduce calls?

[2022-04-04 06:40] florianv commented on #138
Hi, unfortunately this feature isn't available yet since it requires to implement it in all services and required a lot of work..

[2022-04-04 06:40] #138 closed

[2022-04-04 08:19] shawn-mollie commented on #138
Hi Florian, thanks for your response. Just so that I can try to assess the scale, could you briefly explain to me what "all services" means?